body {
  background-color: #000;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: rgba(0, 0, 0, 0.8);
  position: sticky;
  top: 0;
}

.nav-logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.hero {
  text-align: center;
  margin-top: 80px;
  padding: 100px 20px;
}

.hero h1 {
  font-size: 5rem;
  line-height: 1.1;
  font-weight: 700;
}

.hero span {
  color: #fff;
}

.hero p {
  margin-top: 20px;
  color: #ccc;
  font-size: 1.2rem;
}

.cta-buttons {
  margin-top: 30px;
}

button.primary {
  background: white;
  color: black;
  padding: 12px 30px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
}

button.secondary {
  background: #222;
  color: white;
  border: 1px solid #444;
  padding: 12px 30px;
  border-radius: 25px;
  margin-left: 10px;
}

.section {
  padding: 100px 60px;
  max-width: 800px;
  margin: auto;
}

.section h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
